# KiCad backups
LC-backups/
ali-template-backups/

# KiCad auto-save and scratch
fp-info-cache
\#auto_saved_files#
~*
**/*lck

# Old/backup suffixes
**old
**bak

# KiCad local history
.history/

# ERC/DRC reports
*-erc.txt
*-drc.txt
*.log

# KiBot output directories
Schematic/
JLCPCB/
Bom/
Boardview/

# KiBot cache
.kibot/

# Misc
production/
